body {
    margin: 0;
    background-color: #F0F0F0;
    text-align: center;
}

.overview {
    width: 60%;
    padding-top: 100px;
    text-align: center;
    display: inline-block;
}

.list {
    text-align: left;
}

h1, h2, h3, h4, p, ul {
    font-family: 'Poppins', sans-serif;
}

li {
    margin: 0 0 5px 0;
}

a {
    text-decoration: none;
    color: #3C486B;
}

a:hover {
    color: #F45050;
}
