body {
    margin: 0;
    background-color: #F0F0F0;
    text-align: center;
}

.overview {
    width: 70%;
    padding-top: 100px;
    text-align: center;
    display: inline-block;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #3C486B;
}

a:hover {
    color: #F45050;
}

#list {
    text-align: left;
}